@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


body {
  margin: 0;
  padding: 0;
  background-color: #F7F8F3;
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
}

.container-topo {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
}

.container-topo h1 {
  display: flex;
  white-space: pre;
  justify-content: center;
  font-size: 50px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.teste {
  color: #78BCC4;
}

.container-topo h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

@media screen and (max-width: 768px) {
  .container-topo h1 {
    font-size: 30px;
  }
  .container-topo h2 {
    font-size: 20px;
  }
}
  


.titulo {
  display: flex;
  width: 30%;
  justify-content: space-between;
  left: 0%;
  align-items: center;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin: 20px;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.titulo:hover {
  color: #78BCC4;
}

.menu  {
  display: flex;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  margin: 20px;
  list-style: none;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.menu li {
  margin: 0 10px;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.menu li :hover {
  color: #78BCC4;
  font-family: 'Roboto Condensed', sans-serif;
}

.menu a {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Faça o container preencher a tela toda */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0px 15% 0 15%;
  font-family: 'Roboto Condensed', sans-serif;
}


.container .content {
  flex: 1;
}

.container h1,
.container p {
  margin: 0;
  padding: 0 0 0 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

}

.container-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0 20% 0 20%;
  font-family: 'Roboto Condensed', sans-serif;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0px 0% 0 0%;
  font-family: 'Roboto Condensed', sans-serif;
}

.skills ul {
  list-style: none;
  display: flex;
  padding: 10px 15px 15px 15px;
  margin: 0 5px 0 5px;
  background-color: #78BCC4;
  font-family: 'Roboto Condensed', sans-serif;
}

.skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills li h4 {
  display: flex;
  /* width: 80px; */
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  font-family: 'Roboto Condensed', sans-serif;
}




.container-education {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0px 0% 0 0%;
  font-family: 'Roboto Condensed', sans-serif;
}


.skill-icon {
  width: 20%;
  height: 80px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}


.skills h2{
  display: flex;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.skills h4 {
  display: inline;
}


.container-education {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 60px;
  font-family: 'Roboto Condensed', sans-serif;
}

.container-education ul {
  list-style: none;
}

.container-education ul > li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}

.card {
  background-color: #002c3E;
  cursor: pointer;
  height: 240px;
  position: relative;
  width: 30vh;
  margin: 0 10px 10px 10px;
  border-radius: inherit;
  inset: 1px;
  padding: 1em;
  font-family: 'Roboto Condensed', sans-serif;
} 
/* Dividir o card em 3 */

.meio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 120vh;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}	
.meio-container-mac {
  display: flex;
  flex-direction: row;
  max-width: 120vh;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 120vh;
  margin: 30px auto;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.meio-mac {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 50vh;
  padding: 0px 0 0px 0px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-right: 10px; /* Adicionei essa margem para criar espaço entre os cards */
  margin-bottom: 10px; /* Adicionei essa margem para criar espaço entre os cards */
}

.card-body-mac {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-header-mac {
  padding: 5px 0 0px 5px;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgb(0,0,0); */
  background-color: rgba(0,0,0,0.5);
  font-family: 'Roboto Condensed', sans-serif;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  font-family: 'Roboto Condensed', sans-serif;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
}